<div class="home__container">

  <app-card
  gameCover="https://1.bp.blogspot.com/-YEnJvTFuQEs/YKus0CH_2PI/AAAAAAAARTE/AcySrKVWdMsshBz3oW2j5eMqOYlvYMhMQCNcBGAsYHQ/w800/tomb-raider-the-last-revelation-playstation-front-cover.jpg"
  gameLabel="OLD BUT GOLD"
gameType="STEAM | PS2 | PS3"
gamePrice="R$ 99,90"></app-card>
  <app-card
  gameCover="https://upload.wikimedia.org/wikipedia/pt/3/33/Tomb_Raider_Chronicles_capa.png"
  gameLabel="HIDDEN GEM"
  gameType="STEAM | PS2 | PS3"
  gamePrice="R$ 199,00"></app-card>

<app-card
gameCover="https://assets-prd.ignimgs.com/2022/01/21/tomb-raider-angel-of-darkness-button-1642745462451.jpg"
gameLabel="GAME OF THE YEAR"
gameType="STEAM | PS2 | PS3"
gamePrice="R$ 299,00"></app-card>

</div>
